<!DOCTYPE html>
<html>
<head>
  <title>Mercado</title>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<ul class="nav nav-tabs">
		<li> <%= link_to "Home", root_path  %> </li>
		<li> <%= link_to "Home", root_path  %> </li>
		<li> <%= link_to "Home", root_path  %> </li>
		<li> <%= link_to "Home", root_path  %> </li>
	</ul>
	<%= yield %>
</div>
</body>
</html>